<html>
  <head>
      <title>Django Girls blog</title>
  </head>
  <body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 14.66.204, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>To design URLs for an app, you create a Python module informally called
            a URLconf (URL configuration). This module is pure Python code and is
            a simple mapping between URL patterns (simple regular expressions)
            to Python functions (your views).</p>
    </div>
    <div>
        <p>published: 14.06.104, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>n short, our current Terms of Service agreement could do a better job of
            answering your questions about how our service works. We've heard
            your feedback, and we're updating our Terms to make them less ambiguous
            and easier to read so that you know what you’re agreeing to.</p>
    </div>
  </body>
</html>